# Dependencies for Fink
numpy>=1.17
coverage>=4.2
coveralls
pandas==1.1.5
confluent-kafka>=0.11.4
avro-python3
Cython
fastavro
pyarrow
codecov
slackclient
astropy
astroquery
fink_filters>=2.0
fink_science>=1.0.0
fink-utils>=0.2.0
scipy
scikit-learn==0.23
scikit-image
healpy
fink-tns>=0.6

# microlensing
-e git+https://github.com/JulienPeloton/LIA.git@4513654b15a0760312eff2661b0fcf4989171ce3#egg=LIA

# supernnova
supernnova
h5py
natsort
colorama
seaborn

# SNAD
light-curve-python>=0.3.5
light-curve>=0.4.0

# kilonova
-e git+https://github.com/b-biswas/kndetect@kndetect#egg=kndetect
