name: "build-image: platform=k8s, survey=rubin, science=true"

on:
  push:
    branches: [main, 1096-add-fink-broker-dockerfile-for-k8s]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  k8s-rubin-science:
    uses: ./.github/workflows/build-image-template.yml
    with:
      target: k8s
      survey: rubin
      suffix: science
      artifact_name: k8s-rubin-science
      ciux_suffix: science-rubin
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_token: ${{ secrets.REGISTRY_TOKEN }}